// Figure
//
// Override Bulma styling of the figure element
//
// Styleguide: Base.Figure

figure {
  margin: 0;
  padding: 0;

  figcaption {
    padding-top: 0.875em;
    font-size: 0.75em;
    line-height: 1.4em;
    text-align: left;
    .title {
      margin-bottom: 0 !important;
      font-size: 1em;
      line-height: 1em;
    }
    .title,
    .title.is-1,
    .title.is-2,
    .title.is-3,
    .title.is-4 {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
  }
}

.content figure {
  @extend figure;
}
