// Navbar
//
// Override Bulma navbar styles
//
// Styleguide: Component.Navbar

// Fixed position

.is-fixed {
  top: 0;
  left: 0;
  right: 0;
  z-index: +999;
  @include desktop {
    & + section {
      margin-top: 3.75em;
    }
    position: fixed;
  }
}

// Navbar general styling

.navbar {
  background: $yellow;
  min-height: 3.75rem;
  // Undo Bulma for `.navbar-item` and `.navbar-link`
  .navbar-item,
  .navbar-menu .navbar-item .navbar-link {
    background-color: transparent !important;
  }
  @include desktop {
    .navbar-item.is-active {
      background-color: $yellow-dark !important;
    }
  }
}

// Navbar burger styling

.navbar-burger {
  height: 3.75rem;

  &.is-active span,
  span {
    background-color: $black;
  }

  span {
    height: 4px;
    width: 28px;
    margin-left: -12px;

    &:nth-child(1) {
      margin-top: -12px;
    }

    &:nth-child(2) {
      margin-top: -2px;
    }

    &:nth-child(3) {
      margin-top: 8px;
    }
  }

  &.is-active span {
    &:nth-child(1) {
      margin-top: -11.5px;
      margin-left: -5px;
    }

    &:nth-child(3) {
      margin-top: 7.5px;
      margin-left: -5px;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

// Navbar middle region

.navbar-middle {
  padding-left: 2em;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    padding-left: 0;
  }
}

// Navbar menu

.navbar-menu {
  flex-direction: column-reverse;
  text-transform: uppercase;
  background: $black;

  &.is-active {
    display: flex;
  }
  @include desktop {
    flex-direction: row;
    background: none;
  }

  .navbar-item a.navbar-link,
  .navbar-middle > a.navbar-item {
    padding: 0.25em;
    font-weight: bold;
    color: $yellow;
    @include desktop {
      color: $black;
    }
  }

  .navbar-middle > .navbar-item + .navbar-item {
    @include desktop {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

// Dropdowns and toggles

.has-dropdown {
  @include until($desktop) {
    &.is-open .navbar-dropdown {
      display: block;
    }

    &.is-open .navbar-dropdown-toggle::after {
      transform: rotate(90deg);
    }
  }
  @include desktop {
    position: static;

    .navbar-link::after {
      display: block;
      margin-left: -0.375rem;
      border-top: 0.625em solid rgba(0,0,0,0.2);
      border-right: 0.375em solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 0.375em solid transparent;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0.625em;
      left: 50%;
      transform: rotate(0); // Undo Bulma
      content: '';
      line-height: 1em;
      font-size: 0.875rem;
      text-align: center;
    }

    &:hover .navbar-link::after {
      margin-left: -0.625rem;
      border-top: 0 solid transparent;
      border-right: 0.625em solid transparent;
      border-bottom: 1em solid $black;
      border-left: 0.625em solid transparent;
      bottom: 0;
    }
  }
}

.navbar-dropdown-toggle {
  @include until($desktop) {
    position: absolute;
    top: 0.5em;
    left: -1.5em;
    display: block;
    width: 1em;
    height: 1em;
    cursor: pointer;

    &::after {
      display: block;
      border-top: 0.375em solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 0.375em solid transparent;
      border-left: 0.625em solid $yellow-dark;
      margin-top: -0.375em;
      position: absolute;
      top: 0.5em;
      left: 0;
      transform: rotate(0); // Undo Bulma
      content: '';
      line-height: 1em;
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

.navbar-dropdown {
  @include until($desktop) {
    display: none;
  }
  border: 0;
  background-color: $black;
  box-shadow: none;

  a.navbar-item {
    padding: 0.2em;
    text-transform: none;
    font-weight: bold;
    color: $white;

    &:hover {
      color: $yellow;
      background-color: transparent;
    }
  }
  @include desktop {
    .container {
      padding-top: 1em;
      padding-bottom: 1em;
      max-width: 32rem;
      color: $white;
      columns: 3;
    }
  }
}

// Navbar links

.navbar-link {
  position: relative;
  padding-left: 0.75em;
  padding-right: 0.75em;

  &::after {
    display: none; // Undo bulma
  }
}

// Search block

.search-block-form {
  position: relative;
  padding: 0;

  &::after {
    display: block;
    content: '';
    border: 1px solid $yellow-dark;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .control {
    width: 100%;
  }

  input.form-search::-webkit-input-placeholder {
    color: $yellow-dark;
  } // WebKit, Blink, Edge
  input.form-search:-moz-placeholder {
    color: $yellow-dark;
    opacity: 1;
  } // Mozilla Firefox 4 to 18
  input.form-search::-moz-placeholder {
    color: $yellow-dark;
    opacity: 1;
  } // Mozilla Firefox 19+
  input.form-search:-ms-input-placeholder {
    color: $yellow-dark;
  } // Internet Explorer 10-11
  input.form-search::-ms-input-placeholder {
    color: $yellow-dark;
  } // Microsoft Edge
  input.form-search {
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 0;
    color: $white;
    @include desktop {
      color: $black;
    }
    background-color: transparent;
    z-index: +1;
  }

  .search-button {
    border: 0;
    color: $white;
    background-color: transparent;

    .icon i {
      font-size: 1.25rem;
    }
    @include desktop {
      color: $black;
    }
  }

  // Full-width search form

  .field.has-addons {
    width: 100%;
  }

  .form-item {
    width: 100%;
  }
}
