<div class="colgroup">
    <div class="colgroup_column-full">
         Full-width Column
    </div>
    <div class="colgroup_column-left">
         Left Column
    </div>
    <div class="colgroup_column-main">
         Main Column
    </div>
    <div class="colgroup_column-right">
         Main Column
    </div>
</div>
