---
title: "Calendar"
---

{{#extend "default"}}
  {{#content "precontent"}}
    {{>hero-calendar-highlights}}
  {{/content}}
  {{#content "content"}}
    <div class="calendar is-large">
      <div class="calendar-nav">
        <div class="calendar-nav-month">March 2017</div>
        <div class="calendar-nav-filter">
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Everything</span>
                <span class="icon">
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">Music &amp; More</a>
                <a class="dropdown-item">Theatre</a>
                <a href="#" class="dropdown-item is-active">Galleries</a>
                <a href="#" class="dropdown-item">Workshops</a>
                <a href="#" class="dropdown-item">
                  Dance
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-nav-left">
          <button class="button is-text"></button>
        </div>
        <div class="calendar-nav-right">
          <button class="button is-text"></button>
        </div>
      </div>
      <div class="calendar-container">
        <div class="calendar-header">
          <div class="calendar-date">Sunday</div>
          <div class="calendar-date">Monday</div>
          <div class="calendar-date">Tueday</div>
          <div class="calendar-date">Wedsday</div>
          <div class="calendar-date">Thursday</div>
          <div class="calendar-date">Friday</div>
          <div class="calendar-date">Saturday</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-date is-disabled"><button class="date-item">26</button></div>
          <div class="calendar-date is-disabled">
            <button class="date-item">27</button>
            <div class="calendar-events">
              <a class="calendar-event">Default event</a>
            </div>
          </div>
          <div class="calendar-date is-disabled"><button class="date-item">28</button></div>
          <div class="calendar-date"><button class="date-item">1</button></div>
          <div class="calendar-date"><button class="date-item">2</button></div>
          <div class="calendar-date"><button class="date-item">3</button></div>
          <div class="calendar-date tooltip" data-tooltip="Today"><button class="date-item is-today">4</button></div>
          <div class="calendar-date" disabled=""><button class="date-item">5</button></div>
          <div class="calendar-date"><button class="date-item">6</button></div>
          <div class="calendar-date"><button class="date-item">7</button></div>
          <div class="calendar-date tooltip" data-tooltip="You have appointments">
            <button class="date-item badge">8</button>
            <div class="calendar-events">
              <a class="calendar-event is-primary">Primary event</a>
              <a class="calendar-event is-warning">Warning event</a>
              <a class="calendar-event is-danger">Danger event</a>
            </div>
          </div>
          <div class="calendar-date"><button class="date-item">9</button></div>
          <div class="calendar-date"><button class="date-item">10</button></div>
          <div class="calendar-date"><button class="date-item">11</button></div>
          <div class="calendar-date">
            <button class="date-item">12</button>
            <div class="calendar-events">
              <a class="calendar-event">Default event</a>
            </div>
          </div>
          <div class="calendar-date"><button class="date-item">13</button></div>
          <div class="calendar-date"><button class="date-item">14</button></div>
          <div class="calendar-date"><button class="date-item">15</button></div>
          <div class="calendar-date calendar-range range-start"><button class="date-item is-active">16</button></div>
          <div class="calendar-date calendar-range"><button class="date-item">17</button></div>
          <div class="calendar-date calendar-range"><button class="date-item">18</button></div>
          <div class="calendar-date calendar-range"><button class="date-item">19</button></div>
          <div class="calendar-date calendar-range range-end">
            <button class="date-item is-active">20</button>
            <div class="calendar-events">
              <a class="calendar-event is-success">Success event</a>
            </div>
          </div>
          <div class="calendar-date"><button class="date-item">21</button></div>
          <div class="calendar-date"><button class="date-item">22</button></div>
          <div class="calendar-date"><button class="date-item">23</button></div>
          <div class="calendar-date"><button class="date-item">24</button></div>
          <div class="calendar-date"><button class="date-item">25</button></div>
          <div class="calendar-date"><button class="date-item">26</button></div>
          <div class="calendar-date"><button class="date-item">27</button></div>
          <div class="calendar-date"><button class="date-item">28</button></div>
          <div class="calendar-date"><button class="date-item">29</button></div>
          <div class="calendar-date"><button class="date-item">30</button></div>
          <div class="calendar-date"><button class="date-item">31</button></div>
          <div class="calendar-date is-disabled">
            <button class="date-item">1</button>
            <div class="calendar-events">
              <a class="calendar-event">Second default event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}
