---
title: "Directory"
---

{{#extend "default"}}
  {{#content "precontent"}}
    {{>hero-headlines}}
  {{/content}}
  {{#content "content"}}
    <div class="columns col-header">
      <div class="column is-half">
        <h2 class="title is-3">AS220 Community</h2>
      </div>
      <div class="column is-half">
        <div class="tagcloud">
          <a class="is-selected" href="#">ALL</a>
          <a href="#">Live Arts</a>
          <a href="#">Visual Arts</a>
          <a href="#">Writing</a>
          <a href="#">Film/Digital</a>
          <a href="#">Dance/Movement</a>
          <a href="#">Residents</a>
          <a href="#">A.I.R.</a>
          <a href="#">Staff</a>
          <a href="#">Board</a>
          <a href="#">Youth</a>
          <a href="#">Industries Members</a>
        </div>
        </div>
    </div>
    <div class="columns is-multiline">
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-umberto-crenca.jpg" alt="">
        <h3 class="title is-4">Umberto Crenca</h3>
        <div class="location">AS220 Founder</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-jared-paul.jpg" alt="">
        <h3 class="title is-4">Jared Paul</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-darion-lance.jpg" alt="">
        <h3 class="title is-4">Dar&rsquo;ion Lance</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-lucie-searle.jpg" alt="">
        <h3 class="title is-4">Lucie Searle</h3>
        <div class="location">AS220 Development</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-tatyana-eyan.jpg" alt="">
        <h3 class="title is-4">Tatyana Eyan</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-math-the-band.jpg" alt="">
        <h3 class="title is-4">Math the Band</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-guicin-guzman.jpg" alt="">
        <h3 class="title is-4">Guicin Guzman</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-guillermo-gomez-pena.jpg" alt="">
        <h3 class="title is-4">Guillermo Gómez-Peña</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-orlando-flores.jpg" alt="">
        <h3 class="title is-4">Orlando Flores</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-lisa-perez.jpg" alt="">
        <h3 class="title is-4">Lisa Perez</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-ariel-brito.jpg" alt="">
        <h3 class="title is-4">Ariel Brito</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-aaron-benvie.jpg" alt="">
        <h3 class="title is-4">Aaron Benvie</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-mickey-zachilli.jpg" alt="">
        <h3 class="title is-4">Mickey Zachilli</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-chris-jorge.jpg" alt="">
        <h3 class="title is-4">Chris Jorge</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-neal-walsh.jpg" alt="">
        <h3 class="title is-4">Neal Walsh</h3>
        <div class="location">AS220 Galleries</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-sean-daly.jpg" alt="">
        <h3 class="title is-4">Sean Daly</h3>
        <div class="location">AS220 Board</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-stephanie-castillo.jpg" alt="">
        <h3 class="title is-4">Stephanie Castillo</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-kassy-cardona.jpg" alt="">
        <h3 class="title is-4">Kassy Cardona</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-shawn-wallace.jpg" alt="">
        <h3 class="title is-4">Shawn Wallace</h3>
        <div class="location">AS220 Labs</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-chalene-wooten.jpg" alt="">
        <h3 class="title is-4">Charlene Wooten</h3>
        <div class="location">AS220 Youth</div>
      </a>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
      </ul>
    </nav>
  {{/content}}
{{/extend}}
