---
title: "Galleries"
---

{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero ">
      <img src="./assets/img/gallery-hero.jpg" alt="">
    </section>
  {{/content}}
  {{#content "content"}}
    <aside class="subnav">
      <ul class="menu-list">
        <li><a href="#">95 Empire</a></li>
        <li><a href="#">Dreyfus Hotel</a></li>
        <li><a href="#">The Mercaltile Block</a></li>
      </ul>
    </aside>
    <div class="flow content">
      <div class="flow_middle">
        <h2>Galleries</h2>
        <p>AS220 began in 1985 with a budget of $800 in a one-room space above the Providence Performing Arts Center (PPAC) at 220 Weybosset Street. From this humble start came our name and mission. “AS” signifies “Artists’ Space” as well as “Alternative
          Space” and “220” refers to the initial address. AS220 quickly outgrew the one room over PPAC and rented space nearby on Richmond Street, where the organization began to fashion the services that would become its hallmark: performance and exhibition
          opportunities for artists of every genre, affordable artists’ studios, and youth outreach.</p>
        <h4>95 Empire</h4>
        <p>In 1992, AS220 embarked on an effort to own a home of its own in downtown Providence. We acquired a 21,000 sq ft three story building at 95-121 Empire Street that was severely blighted and almost totally abandoned. By the following year, we achieved
          code compliance and 100% occupancy, with Groundworks Dance Company, Perishable Theatre, and a number of resident artists helping to fill every room. This was accomplished with a limited budget of $1.2 million, tremendous community support, highly
          imaginative fundraising, and most significantly, sweat equity. What was once an almost lifeless block in downtown Providence is today a thriving mixed-use arts complex and a destination for an estimated 93,000 people each year. The project was
          one of the first significant steps in the creation of the Providence Arts and Entertainment District.</p>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{>section-now-showing}}
  {{/content}}
{{/extend}}
