---
title: "History"
---

{{#extend "default"}}
  {{#content "content"}}
    <aside class="subnav">
      <ul class="menu-list">
        <li><a href="#">95 Empire</a></li>
        <li><a href="#">Dreyfus Hotel</a></li>
        <li><a href="#">The Mercaltile Block</a></li>
      </ul>
    </aside>
    <div class="flow content">
      <div class="flow_middle">
        <h2>History</h2>
      </div>
      <div class="flow_right">
        <figure>
          <img src="./assets/img/history-01.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
      </div>
      <div class="flow_middle">
        <figure>
          <img src="./assets/img/history-02.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
        <p>AS220 began in 1985 with a budget of $800 in a one-room space above the Providence Performing Arts Center (PPAC) at 220 Weybosset Street. From this humble start came our name and mission. &ldquo;AS&rdquo; signifies &ldquo;Artists&rsquo; Space&rdquo;
          as well as &ldquo;Alternative Space&rdquo; and &ldquo;220&rdquo; refers to the initial address. AS220 quickly outgrew the one room over PPAC and rented space nearby on Richmond Street, where the organization began to fashion the services that
          would become its hallmark: performance and exhibition opportunities for artists of every genre, affordable artists&rsquo; studios, and youth outreach.</p>
      </div>
      <div class="flow_left">
        <figure>
          <img src="./assets/img/history-03.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
      </div>
      <div class="flow_middle">
        <h3>95 Empire</h3>
        <p>In 1992, AS220 embarked on an effort to own a home of its own in downtown Providence. We acquired a 21,000 sq ft three story building at 95-121 Empire Street that was severely blighted and almost totally abandoned. By the following year, we achieved
          code compliance and 100% occupancy, with Groundworks Dance Company, Perishable Theatre, and a number of resident artists helping to fill every room. This was accomplished with a limited budget of $1.2 million, tremendous community support, highly
          imaginative fundraising, and most significantly, sweat equity. What was once an almost lifeless block in downtown Providence is today a thriving mixed-use arts complex and a destination for an estimated 93,000 people each year. The project was
          one of the first significant steps in the creation of the Providence Arts and Entertainment District.</p>
      </div>
      <div class="flow_left">
        <figure>
          <img src="./assets/img/history-04.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
      </div>
      <div class="flow_middle">
        <h3>Dreyfus Hotel</h3>
        <p>In 2006, AS220 purchased the Dreyfus Hotel, located at the corner of Washington St and Mathewson St in downtown Providence, from Johnson & Wales University. AS220&rsquo;s rehabilitation of the Dreyfus, a structure dating back to the late 1890&rsquo;s,
          was undertaken as a historic preservation project. By May 2007, the 24,000 sq ft building was fully restored and fully occupied. The Dreyfus, AS220&rsquo;s second mixed-use complex, is today home to fourteen affordable residential studios and
          four work studios for artists as well as AS220&rsquo;s administrative offices. Local 121, an upscale farm-to-table restaurant, and the AS220 Project Space Gallery occupy the building&rsquo;s first floor commercial spaces.</p>
        <h3>The AS220 Youth Studio</h3>
        <p>The AS220 Youth Studio, formerly located in South Providence and now housed in our Empire Street building, makes art accessible to young people through a variety of courses including: drawing, painting, digital recording, dance, hip-hop, poetry,
          photography, music, digital fabrication, and computer classes. Approximately two-dozen classes are offered each week free of charge to young people between the ages of 14 and 20.</p>
      </div>
      <div class="flow_right">
        <figure>
          <img src="./assets/img/history-05.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
      </div>
      <div class="flow_middle">
        <h3>The Mercantile Block</h3>
        <p>In 2008, AS220 purchased a third downtown building, the Mercantile Block, located at 131 Washington Street and directly abutting the Dreyfus. This four-story plus basement building totals 50,000 sq ft. AS220&rsquo;s adaptive re-use of the historic
          Mercantile Block provides for a vibrant mix of live and work studios, arts related offices, and one-of-a kind, local retail and commercial spaces.</p>
        <p>The third and fourth floors of the building offer 22 live and work studios for the creative community. On the second floor, a mix of individual work studios, non-profit office space, and AS220 program space co-mingle. Two long time tenants, Clark
          the Locksmith and The Stable bar, continue their tenancy in renovated storefronts on the Mercantile&rsquo;s first floor, where they are now joined by local restaurant, Viva Mexico!. The AS220 Community Printshop and AS220 Labs relocated to the
          building in greatly expanded bi-level spaces from their respective former homes at the Dreyfus and Empire Street Complex</p>
      </div>
      <div class="flow_full">
        <blockquote>
          <p>All art is celebratory, even when it&rsquo;s deeply critical. The very act of creating art is a celebration, an ode to this mystery called life. Think about the billions of dollars and resources that governments invest into creating things that
            destroy. A lone artist, with an infinitesimal amount of the same resources, strikes a balance in the world by creating and reinforcing passion.</p>
        </blockquote>
      </div>
      <div class="flow_middle">
        <figure>
          <img src="./assets/img/history-06.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet
          </figcaption>
        </figure>
        <p>AS220 continues to expand and transform to meet the needs of Rhode Island&rsquo;s creative community. In January 2012, Perishable Theatre, an original tenant of the Empire Street Complex, transferred stewardship of the theatre and dance studio
          at 95 Empire St to AS220. As an AS220 initiative, 95 Empire continues to support new and emerging companies through its Residency@95 program and a vibrant late night event series, while offering affordable education in theatre arts and access
          to the resources of a theater and dance studio to the community-at-large. In March 2012, the organization announced that another new initiative, expanding on AS220&rsquo;s photography program, would find a home at the Mercantile Block. In the
          AS220 Media Arts studio, digital photography, studio lighting, and photo finishing resources will grow to support artists working in complementary analog and digital mediums such as video, film, and audio.</p>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{>section-action}}
  {{/content}}
{{/extend}}
