/* Lists
===========================================================
*/

/* Ordered and Unordered Lists
-----------------------------------------------------------
Orered list:

    <ol>
        <li>Ordered List Item 1</li>
        <li>Ordered List Item 2</li>
        <li>Ordered List Item 3</li>
    </ol>

Unordered (bullet) list:

    <ul>
        <li>Unordered List Item 1</li>
        <li>Unordered List Item 2</li>
        <li>Unordered List Item 3</li>
    </ul>
*/

ul, ol {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    li {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        font-size: 1em;
        line-height: 1.5;
    }
}

h1, h2, h3, h4, h5, h6, p {
    + ul,
    + ol {
        margin-top: 0;
    }
}


/* Unstyled Lists
-----------------------------------------------------------

    <ul class="unstyled">
        <li>Unstyled List Item 1</li>
        <li>Unstyled List Item 2</li>
        <li>Unstyled List Item 3</li>
    </ul>
*/

@mixin unstyled() {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: list-item;
        margin: 0;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}

.unstyled {
    @include unstyled;
}


/* Inline Lists
-----------------------------------------------------------

    <ul class="inline">
        <li>Unstyled List Item 1</li>
        <li>Unstyled List Item 2</li>
        <li>Unstyled List Item 3</li>
    </ul>
*/


.inline {
    li {
        display: inline-block;
    }
    li + li {
        margin-left: $margin;
    }
}