{{!-- Temp links to navigate the design samples --}}

<div class="section hero is-dark" data-headerbg="light">
  <div class="container">
    Design links:
    <a href="index.html">Home</a> |
    <a href="galleries.html">Galleries</a> |
    <a href="history.html">History</a> |
    <a href="calendar.html">Calendar</a> |
    <a href="event.html">Event</a> |
    <a href="search.html">Search</a> |
    <a href="directory.html">Directory</a> |
    <a href="artist-1.html">Artist&nbsp;1</a> |
    <a href="artist-2.html">Artist&nbsp;2</a> |
    <a href="artist-3.html">Artist&nbsp;3</a> |
    <a href="artist-4.html">Artist&nbsp;4</a> |
    <a href="special.html">Special&nbsp;Event</a> |
    <a href="bulma.html">Bulma</a>
  </div>
</div>
