<section class="footer">
  <div class="container">
    <div class="copyright">&copy; Copyright 2018 AS220</div>
    <div class="columns content">
      <div class="column">
        <p class="title is-4">Support AS220</p>
        <p class="title is-4"><a href="//as220.org/support/" class="biglink">Donate</a></p>
        <p class="title is-4"><a href="//as220.org/joinsupport/volunteer-form/" class="biglink">Volunteer</a></p>
      </div>
      <div class="column">
        <p><b>AS220 Main Office</b><br>
          95 Mathewson Street, Unit 204<br>
          Providence, Rhode Island 02903</p>
        <p><a href="tel:4018319327">401-831-9327</a><br>
          <a href="mailto:info@as220.org">info@as220.org</a></p>
        <ul class="inline social-links">
          <li><a href="//twitter.com/as220"><i class="fa fa-twitter"></i></a></li>
          <li><a href="//www.facebook.com/AS22O"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="//www.instagram.com/as220providence/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/user/tv220"><i class="fa fa-youtube"></i></a></li>
          <li><a href="//www.flickr.com/groups/as220"><i class="fa fa-flickr"></i></a></li>
        </ul>
      </div>
      <div class="column">
        <p><b>Foo(d)</b><br>
          115 Empire Street<br>
          Providence, Rhode Island 02903</p>
        <p><a href="tel:4018313663">401-831-FOOD (3663)</a><br>
          <a href="mailto:foood@as220.org">foood@as220.org</a></p>
        <ul class="inline social-links">
          <li><a href="//twitter.com/as220food"><i class="fa fa-twitter"></i></a></li>
          <li><a href="//www.facebook.com/AS220.FOOd"><i class="fa fa-facebook-f"></i></a></li>
        </ul>
      </div>
      <div class="column">
        <p><b>The Bar at AS220</b><br>
          115 Empire Street<br>
          Providence, Rhode Island 02903</p>
        <p><a href="tel:4018313663">401-831-FOOD (3663)</a><br>
          <a href="mailto:thebar@as220.org">thebar@as220.org</a></p>
        <ul class="inline social-links">
          <li><a href="//twitter.com/as220food"><i class="fa fa-twitter"></i></a></li>
          <li><a href="//www.facebook.com/AS220.FOOd"><i class="fa fa-facebook-f"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
