<section class="hero hero-headlines is-dark">
  <div class="hero-body">
    <h1 class="title">Headlines</h1>
    <div class="carousel carousel-headlines">
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-foo-test.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">2015 Foo Fest Celebration Brings Together Providence </h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-food.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">Food(d) Fall Menu is Back</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-fuqing-gomez .jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">November A.I.R.: Diego Fuqing Gomez</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-labs.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">2015 Fab Academy Melds Artand Technology</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-placemaking.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">Unpacking Authentic Plaemaking</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-theater-residency.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">AS220 Theater/Dance Residency: Tnmot Aztro</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-white.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">Hartley C. White is Finally Coming!</h3>
          </figcaption>
        </figure>
      </a>
      <a href="#" class="teaser">
        <figure>
          <img src="./assets/img/news-youth-murals.jpg" alt="">
          <figcaption>
            <div class="date">September 25, 2015</div>
            <h3 class="title is-5">AS220 Youth to CreateMurals for Bus Stops</h3>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>
