<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-4">More News</h3>
      <div class="carousel carousel-related">
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-foo-test.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">2015 Foo Fest Celebration Brings Together Providence </h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-food.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">Food(d) Fall Menu is Back</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-fuqing-gomez .jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">November A.I.R.: Diego Fuqing Gomez</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-labs.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">2015 Fab Academy Melds Artand Technology</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-placemaking.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">Unpacking Authentic Plaemaking</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-theater-residency.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">AS220 Theater/Dance Residency: Tnmot Aztro</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-white.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">Hartley C. White is Finally Coming!</h3>
            </figcaption>
          </figure>
        </a>
        <a href="#" class="teaser">
          <figure>
            <img src="./assets/img/news-youth-murals.jpg" alt="">
            <figcaption>
              <div class="date">September 25, 2015</div>
              <h3 class="title is-6">AS220 Youth Comissioned to CreateMurals for Providence Bus Stops</h3>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>
