<section class="section">
  <div class="container">
    <h3 class="title is-3">Our Supporters</h3>
    <div class="columns">
      <div class="column is-one-quarter">
        <p>AS220’s work is made possible through a combination of program-related earned income, private and government grants, corporate giving, and individual philanthropy. We are grateful to everyone who has supported our work.</p>
      </div>
      <div class="column is-three-quarters">
        <img src="./assets/img/our-supporters.jpg" alt="">
      </div>
    </div>
  </div>
</section>
