<section class="section">
  <div class="container">
    <h3 class="title is-3">Now Showing</h3>
    <h4 class="subtitle">AS220 Galleries</h4>
    <div class="columns is-multiline">
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-martin.jpg" alt="">
        <div class="info">
          <div class="title is-6">Nature at a Blur</div>
          <div class="location">AS220 Main Gallery</div>
          <div class="description">Paintings by Hannah Purcell Martin</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-diaz.jpg" alt="">
        <div class="info">
          <div class="title is-6">All Jokes Guaranteed Stolen</div>
          <div class="location">AS220 Main Gallery</div>
          <div class="description">Drawings and Paintings by Armstrong Diaz</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-p-orridge.jpg" alt="">
        <div class="info">
          <div class="title is-6">AS220 Print Editions Project</div>
          <div class="location">Open Window</div>
          <div class="description">Prints: Breyer P-Orridge</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-bressner.jpg" alt="">
        <div class="info">
          <div class="title is-6">I Can&rsquo;t Tell Where To Begin Or End</div>
          <div class="location">AS220 Project Space</div>
          <div class="description">New Work by Jenine Bressner</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-sobers.jpg" alt="">
        <div class="info">
          <div class="title is-6">Garden Rooms</div>
          <div class="location">AS220 Reading Room</div>
          <div class="description">Installation by Sophia Sobers</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-resident.jpg" alt="">
        <div class="info">
          <div class="title is-6">POTLUCK</div>
          <div class="location">Residence Gallery</div>
          <div class="description">New Work by AS220 Resident Artists</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-fab-academy.jpg" alt="">
        <div class="info">
          <div class="title is-6">2015 Fab Academy</div>
          <div class="location">Industries Gallery</div>
          <div class="description">Final Projects</div>
        </div>
      </a>
      <a class="column is-one-quarter teaser" href="#">
        <img src="./assets/img/gallery-cardona.jpg" alt="">
        <div class="info">
          <div class="title is-6">The Flow</div>
          <div class="location">Youth Gallery</div>
          <div class="description">New work by Cassy Cardona</div>
        </div>
      </a>
    </div>
  </div>
</section>
