<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns content">
        <div class="column">
          <h3 class="title is-3">Unjuried.<br>
          Uncensored.<br>
          All Ages.</h3>
        </div>
        <div class="column">
          <p>AS220 is an globally-recognized non-profit community arts center in Providence, Rhode Island that provides live/work studios, galleries, and performance spaces. We support a diverse community of artists by providing access to space, knowledge,
            and people. </p>
        </div>
        <div class="column">
          <p>AS220 is commmitted to providing affordable access to the arts. We invite you to join in that promise through a donation to AS220.</p>
          <p class="title is-4"><a href="#" class="biglink">Donate</a> &nbsp; &nbsp; <a href="#" class="biglink">Volunteer</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
