<section class="hero is-light">
  <div class="hero-body">
    <h3 class="title is-3">More Community Members</h3>
    <div class="carousel carousel-related">
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-jared-paul.jpg" alt="">
        <h3 class="title is-4">Jared Paul</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-darion-lance.jpg" alt="">
        <h3 class="title is-4">Dar&rsquo;ion Lance</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-lucie-searle.jpg" alt="">
        <h3 class="title is-4">Lucie Searle</h3>
        <div class="location">AS220 Development</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-tatyana-eyan.jpg" alt="">
        <h3 class="title is-4">Tatyana Eyan</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-math-the-band.jpg" alt="">
        <h3 class="title is-4">Math the Band</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-guicin-guzman.jpg" alt="">
        <h3 class="title is-4">Guicin Guzman</h3>
        <div class="location">AS220 Youth</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-guillermo-gomez-pena.jpg" alt="">
        <h3 class="title is-4">Guillermo Gómez-Peña</h3>
        <div class="location">Live Arts</div>
      </a>
      <a href="#" class="column is-one-quarter teaser">
        <img src="./assets/img/artist-orlando-flores.jpg" alt="">
        <h3 class="title is-4">Orlando Flores</h3>
        <div class="location">AS220 Youth</div>
      </a>
    </div>
  </div>
</section>
