<section class="hero hero-action">
  <div class="hero-body">
    <div class="container content">
      <div class="columns">
        <div class="column is-one-quarter">
          <h3 class="title is-3">Continue Building AS220</h3>
          <div class="subtitle">Your tax-deductible donation to AS220 will support our services, artistic programming, reclaimed historical buildings, and team of dedicated staff</div>
        </div>
        <div class="column is-three-quarters">
          <p class="title is-4">Here&rsquo;s just some of what your money can do!</p>
          <div class="columns is-multiline">
            <a class="column is-one-third">
              <div class="title is-3">$20</div>
              <div class="subtitle">Three small canvases for paintings at AS220 Youth</div>
            </a>
            <a class="column is-one-third">
              <div class="title is-3">$50</div>
              <div class="subtitle">Two gallons of wall paint for the Galleries</div>
            </a>
            <a class="column is-one-third">
              <div class="title is-3">$100</div>
              <div class="subtitle">Printing filament for the 3D printers in the Labs</div>
            </a>
            <a class="column is-one-third">
              <div class="title is-3">$250</div>
              <div class="subtitle">Lighting control for the black box at 95 Empire</div>
            </a>
            <a class="column is-one-third">
              <div class="title is-3">$500</div>
              <div class="subtitle">One year of Adobe Creative Cloud for Media Arts</div>
            </a>
            <a class="column is-one-third">
              <div class="title is-3">$1,000</div>
              <div class="subtitle">One graphics workstation for AS220 Youth</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
