<section class="section">
  <div class="container">
    <h3 class="title is-3">Calendar Highlights</h3>
    <div class="columns">
      <a class="column teaser" href="#">
          <img src="./assets/img/highlights-placemaking.jpg" alt="">
          <h3 class="title is-6">Unpacking Authentic Placemaking</h3>
          <div class="date">July 12, 2018</div>
          <div class="description">Panel discussion</div>
        </a>
      <a class="column teaser" href="#">
          <img src="./assets/img/highlights-white.jpg" alt="">
          <h3 class="title is-6">Hartley C. White is Finally Coming!</h3>
          <div class="date">July 12, 2018</div>
          <div class="description">His first tour in over 30 years as a musician.</div>
        </a>
      <a class="column teaser" href="#">
          <img src="./assets/img/highlights-food.jpg" alt="">
          <h3 class="title is-6">Food(d) Fall Menu is Back</h3>
          <div class="date">July 12, 2018</div>
          <div class="description">Get ready for roasted root vegetables!</div>
        </a>
    </div>
  </div>
</section>
