/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
 
/* 
Style Guide color swatches
===========================================================
*/

.sg-colors {
    list-style: none;
    padding: 0;
}

.sg-color {
    display: block;
    overflow: auto;
    margin-bottom: 0.3em; 
    padding: 0.25em;
}

.sg-swatch {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 4em;
    width: 50%; 
}

 @media all and (max-width: 30em) {
    .sg-swatch {
        float: left;
        margin-right: 0.3em; 
    } 
}

@media all and (min-width: 30em) {
    .sg-color {
        float: left;
        margin-right: 0.3em; 
        width: 6em;
    } 
    .sg-swatch {
        width: 100%;
        margin-bottom: 0.2em; 
    } 
}

.sg-label {
    line-height: 1; 
}  
  
