<div class="gallery">
  <div class="cell">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae est perferendis doloremque mollitia earum, repudiandae ex impedit animi odit itaque, blanditiis accusantium iste ipsa dolores nulla nobis ducimus fugiat.</p>
  </div>
  <div class="cell">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae est perferendis doloremque mollitia earum, repudiandae ex impedit animi odit itaque, blanditiis accusantium iste ipsa dolores nulla nobis ducimus fugiat.</p>
  </div>
  <div class="cell">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae est perferendis doloremque mollitia earum, repudiandae ex impedit animi odit itaque, blanditiis accusantium iste ipsa dolores nulla nobis ducimus fugiat.</p>
  </div>
  <div class="cell">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae est perferendis doloremque mollitia earum, repudiandae ex impedit animi odit itaque, blanditiis accusantium iste ipsa dolores nulla nobis ducimus fugiat.</p>
  </div>
  <div class="cell">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae est perferendis doloremque mollitia earum, repudiandae ex impedit animi odit itaque, blanditiis accusantium iste ipsa dolores nulla nobis ducimus fugiat.</p>
  </div>
</div>