<!--_includes/page-footer.html-->
<div class="page-footer colgroup">
    <div>
        <hr class="heavy">
        <p class="small deemphasis">Copyright &copy; 2015 AS220</p>
    </div>
    <div class="grid-quarter">
        <!-- inline-block grid
        --><div class="grid_item">
            <h3>Support AS220</h3>
            <h3><a href="/support/donate/">Donate</a></h3>
            <h3><a href="/support/volunteer/">Volunteer</a></h3>
        </div><!--
        --><div class="grid_item">
            <p><b>AS220 Main Office</b><br>
            95 Mathewson Street<br>
            Providence, Rhode Island 02903</p>
            <p><a href="tel:4018319327">401.831.9327</a><br>
            <a href="mailto:info@as220.org">info@as220.org</a></p>
        </div><!--
        --><div class="grid_item">
            <p><b>Foo(d)</b><br>
            115 Empire Street<br>
            Providence, Rhode Island 02903</p>
            <p><a href="tel:4018313663">401.831.3663</a><br>
            <a href="mailto:foood@as220.org">foood@as220.org</a></p>
        </div><!--
        --><div class="grid_item">
            <p><b>The Bar at AS220</b><br>
            115 Empire Street<br>
            Providence, Rhode Island 02903</p>
            <p><a href="tel:4018313663">401.831.3663</a><br>
            <a href="mailto:thebar@as220.org">thebar@as220.org</a></p>
        </div><!--
        -->
    </div>
</div>