
<h5>Unstyled</h5>    

<ul class="unstyled">
    <li>Unstyled List Item 1</li>
    <li>Unstyled List Item 2</li>
    <li>Unstyled List Item 3</li>
</ul>

<h5>Inline</h5>

<ul class="inline">
    <li>Inline List Item 1</li>
    <li>Inline List Item 2</li>
    <li>Inline List Item 3</li>
</ul>
