/* Utilities
===========================================================
Helper classes
*/


/* Clearfix
-----------------------------------------------------------
Clear floats the after element.
*/

@mixin clearfix() {
    &:after {
        content: ".";  
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.clearfix {
    @include clearfix;
}


/* Screen Reader Only
-----------------------------------------------------------
Hide content meant for screen readers from other browsers.

    <p class="sr-only">...</p>
*/

@mixin sr-only() {
    position: absolute;
    left:-999em;
}

.sr-only {
    @include sr-only;
}


/* Left/Right
-----------------------------------------------------------
Float content left and right

Left:

        <div class="left">
        ...
        </div>
        
Right:

        <div class="right">
        ...
        </div>
*/

.left {
  float: left;
  margin-top: $margin;
  margin-right: $margin;
}

.right {
      float: right;
      margin-top: $margin;
      margin-left: $margin;
}


/* Inline
-----------------------------------------------------------
Display element as inline

    <div class="inline">
    ...
    </div>
*/

.inline {
    display: inline-block;
}


/* De-emphasis
-----------------------------------------------------------
Gray text

    <div class="deemphasis">
    ...
    </div>
*/

.deemphasis {
    color: $grey4;
}


/* No Select
-----------------------------------------------------------
Gray text

    <div class="noselect">
    ...
    </div>
*/

@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    @include noselect;
}
