/* Variables
===========================================================
*/


/* Typography
-----------------------------------------------------------
*/

$em-base:             10px; // default is already defined in bourbon
$base-font-size:      rem(16px) !default;
$small-font-size:     rem(14px) !default;
$lead-font-size:      rem(22px) !default;
$title-font-size:     rem(52px) !default;
$h1-font-size:        rem(40px) !default;
$h2-font-size:        rem(30px) !default;
$h3-font-size:        rem(20px) !default;
$h4-font-size:        rem(17px) !default;
$h5-font-size:        rem(15px) !default;
$h6-font-size:        rem(13px) !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

$font-brand:          'Montserrat', sans-serif !default;
$font-sans:           'Helvetica', 'Arial', 'Lucida Grande', sans-serif !default;
$font-serif:          'Merriweather', 'Georgia', 'Times New Roman', serif;

$font-normal:         400 !default;
$font-bold:           700 !default;


/* Colors
-----------------------------------------------------------
*/

$yellow:       #ffd840;
$yellow-dark:  #bfa230;
$berry:        #b71c8d;
$white:        #ffffff;
$black:        #000000;
$grey1:        #221f1f; // darkest
$grey2:        #414042;
$grey3:        #58595b;
$grey4:        #a7a9ac;
$grey5:        #d1d3d4;
$grey6:        #e2e2e2; // lightest


/* Mobile First Breakpoints
-----------------------------------------------------------
*/

$small-screen:      481px !default;
$medium-screen:     600px !default;
$large-screen:      1201px !default;


/* Magic Numbers
-----------------------------------------------------------
*/

$text-breakpoint:   36rem !default;
$grid-min-width:    36rem !default; // Minimum width to display a grid, otherwise stack
$col-min-width:     36rem !default; // Minimum width to display layout columns, otherwise stack
$text-max-width:    53rem !default;
$site-max-width:    1040px !default;
$site-margins:      3rem !default;
$article-max-width: 600px !default;
$input-max-width:   46rem !default;
$border-radius:     rem(3px) !default;
$box-shadow:        0 0 2px rgba(#000, .3) !default;
$focus-shadow:      0 0 3px $yellow, 0 0 7px $yellow;
$grid-margins:      3rem !default;



/* Spacing
-----------------------------------------------------------
*/

$margin:     0.625rem;
$padding:    0.625rem;

