/* Grids
===========================================================
Classes for grids of objects

For page layouts, see `_layout.scss`
*/


/* Inline-Block Grids
-----------------------------------------------------------
Grids use the `inline-block` displat property. This allows 
items of unequal heights to align properly, which would 
require elements wrapping each row in a float-based 
implementation. One caveat is that the `inline-block` 
technique renders spaces between elemenets, which cause 
unpredictable spacing. To avoid this, there must not be 
spaces between grid objects. 

    <div class="grid-third">
        <!-- inline-block grid
        --><div class="grid_item">
        ...
        </div><!--
        --><div class="grid_item">
        ...
        </div><!--
        --><div class="grid_item">
        ...
        </div><!--
        -->
    </div>
*/

.grid {
}

.grid_item {
    box-sizing: border-box;
    padding: $padding;
    margin-bottom: $margin;
    width: 100%;
    @media (min-width: $grid-min-width) {
        margin-right: 2%;
        display: inline-block;
        vertical-align: top;
        *display: inline; // for old ie browsers
        *zoom: 1;
    }
}

@media (min-width: $grid-min-width) {
    // Half
    .grid-half .grid_item {
        width: 49%;
    }
    .grid-half .grid_item:nth-child(2n) {
        margin-right: 0;
    }
    // Third
    .grid-third .grid_item {
        width: 32%;
    }
    .grid-third .grid_item:nth-child(3n) {
        margin-right: 0;
    }
    // Quarter
    .grid-quarter .grid_item {
        width: 23.5%;
    }
    .grid-quarter .grid_item:nth-child(4n) {
        margin-right: 0;
    }
    // Fifth
    .grid-fifth .grid_item {
        width: 18.4%;
    }
    .grid-fifth .grid_item:nth-child(5n) {
        margin-right: 0;
    }
    // Sixth
    .grid-sixth .grid_item {
        width: 15%;
    }
    .grid-sixth .grid_item:nth-child(6n) {
        margin-right: 0;
    }
    // Seventh
    .grid-seventh .grid_item {
        width: 12.57%;
    }
    .grid-seventh .grid_item:nth-child(7n) {
        margin-right: 0;
    }
}

