<div class="grid-third">
    <!-- inline-block grid
    --><div class="grid_item">
    Third
    </div><!--
    --><div class="grid_item">
    Third
    </div><!--
    --><div class="grid_item">
    Third
    </div><!--
    -->
</div>

