<div class="grid-quarter">
    <!-- inline-block grid
    --><div class="grid_item">
    Quarter
    </div><!--
    --><div class="grid_item">
    Quarter
    </div><!--
    --><div class="grid_item">
    Quarter
    </div><!--
    --><div class="grid_item">
    Quarter
    </div><!--
    -->
</div>

