<div class="grid-fifth">
    <!-- inline-block grid
    --><div class="grid_item">
    Fifth
    </div><!--
    --><div class="grid_item">
    Fifth
    </div><!--
    --><div class="grid_item">
    Fifth
    </div><!--
    --><div class="grid_item">
    Fifth
    </div><!--
    --><div class="grid_item">
    Fifth
    </div><!--
    -->
</div>

