<div class="grid-sixth">
    <!-- inline-block grid
    --><div class="grid_item">
    Sixth
    </div><!--
    --><div class="grid_item">
    Sixth
    </div><!--
    --><div class="grid_item">
    Sixth
    </div><!--
    --><div class="grid_item">
    Sixth
    </div><!--
    --><div class="grid_item">
    Sixth
    </div><!--
    --><div class="grid_item">
    Sixth
    </div><!--
    -->
</div>

