<div class="grid-seventh">
    <!-- inline-block grid
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    --><div class="grid_item">
    Seventh
    </div><!--
    -->
</div>

