	
<!--DO NOT REMOVE-->
{{ patternLabFoot | raw }}
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/flickity.pkgd.min.js"></script>
<script>
$(document).ready(function() {

    var flky = new Flickity('.gallery');

});
</script>
</body>
</html>